.container-root {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 150px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1800px;
}

.post {
    width: 100%;
    margin-bottom: 150px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.post-header span:first-child {
    background-color: var(--dark-1c);
    color: var(--dark-6);
    padding: 8px 15px;
}

.post-header span:last-child {
    color: var(--dark-6);
}

.post-title {
    font-size: 3rem;
    color: var(--fully-white);
}

.post-tags {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 50px;
}

.wrap {
    padding: 80px 100px;
}

.content {
    color: var(--dark-7);
    line-height: 35px;
    font-size: 1.1rem;
    text-align: justify;
}

.content p {
    margin-bottom: 35px;
}

.content h1 {
    font-size: 3rem;
}

.content h2 {
    font-size: 2.5rem;
}

.content h3 {
    font-size: 2rem;
}

.content h4 {
    font-size: 1.5rem;
}

.content h5 {
    font-size: 1.2rem;
}

.content h6 {
    font-size: 1rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 35px;
    margin-bottom: 10px;
    color: var(--dark-A);
}

.content img {
    width: 100%;
    object-fit: cover;
}

.post-tags {
    margin-top: 30px;
    display: flex;
}

.tag {
    padding: 10px;
    font-size: 0.8rem;
    background-color: var(--dark-2);
    color: var(--dark-7);
}

.tag:not(:first-child) {
    margin-left: 2px;
}

@media screen and (max-width: 890px) {
    .wrap {
        padding: 80px 0 !important;
    }

    .content {
        text-align: left;
    }
}

@media screen and (max-width: 1440px) {
    .container-root {
        padding: 80px;
    }
}

@media screen and (max-width: 500px) {
    .container-root {
        padding: 80px 30px;
    }
}