@import url("./reset.css");
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono?styles=60140');

:root {
    --fully-white: #FFFFFF;

    --dark-0: #111111;
    --dark-1: #181818;
    --dark-1c: #1C1C1C;
    --dark-2: #212121;
    --dark-4: #434343;
    --dark-6: #616161;
    --dark-7: #737373;
    --dark-A: #A0A0A0;
}

* {
    font-family: 'Jetbrains mono';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--dark-0);
    overflow-x: hidden;
    min-height: 100dvh;
}

html {
    overflow-x: hidden;
}