.container-root {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 150px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1800px;
}

.site-title {
    color: var(--fully-white);
    font-size: 1.8rem;
    font-weight: 900;
}

.site-description {
    margin-top: 20px;
    text-transform: capitalize;
    color: var(--dark-A);
    line-height: 30px;
    font-weight: 300;
}

.brand {
    position: absolute;
    font-size: 280px;
    color: var(--dark-1);
    font-weight: bolder;
    top: -60px;
    left: -20px;
    font-family: "Jetbrains mono";
    font-weight: 800;
    z-index: -1;
}

.posts-container {
    margin-top: 130px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.posts-container a {
    text-decoration: none;
}

.post {
    padding: 20px 30px;
    border: 2px solid var(--dark-1);
    width: 380px;
    z-index: 10;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header h3 {
    font-size: 1rem;
    background-color: var(--dark-1c);
    display: inline-block;
    color: var(--dark-6);
    padding: 8px 15px;
}

.post-header span {
    color: var(--dark-6);
    font-size: 0.8rem;
}

.post-title {
    color: var(--fully-white);
    margin-top: 15px;
    font-size: 1rem;
    line-height: 30px;
}

.post-tags {
    margin-top: 30px;
    display: flex;
}

.tag {
    padding: 10px;
    font-size: 0.8rem;
    background-color: var(--dark-2);
    color: var(--dark-7);
}

.tag:not(:first-child) {
    margin-left: 10px;
}

@media screen and (max-width: 1440px) {
    .post {
        width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .post {
        width: 380px;
    }
}

@media screen and (max-width: 940px) {
    .post {
        width: 300px;
    }
}

@media screen and (max-width: 780px) {
    .post {
        width: 400px;
    }
}

@media screen and (max-width: 590px) {
    .mahan-description br {
        display: none;
    }

    .post {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .container-root {
        padding: 80px;
    }
}

@media screen and (max-width: 500px) {
    .container-root {
        padding: 80px 30px;
    }
}