<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0xkeeper.log</title>
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico' ) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png' ) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png' ) }}">
    {% block styles %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>